:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #171615;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: "Noto Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Noto Sans", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #171615;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

@font-face {
  font-family: "MinecraftRegular";
  src: url("/SushiCraft/MinecraftRegular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MinecraftHeader";
  src: url("/SushiCraft/MinecraftHeader.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


:root {
  --mc-environment-arrow__down_clip-path: polygon(0% 0%, 0% 25%, 14.286% 25%, 14.286% 50%, 28.572% 50%, 28.572% 75%, 42.858% 75%, 42.858% 100%, 57.142% 100%, 57.142% 75%, 71.428% 75%, 71.428% 50%, 85.714% 50%, 85.714% 25%, 100% 25%, 100% 0%, 85.714% 0%, 85.714% 25%, 71.428% 25%, 71.428% 50%, 57.142% 50%, 57.142% 75%, 42.858% 75%, 42.858% 50%, 28.572% 50%, 28.572% 25%, 14.286% 25%, 14.286% 0%);
}

.apply-btn::after {
  clip-path: var(--mc-environment-arrow__down_clip-path);
  content: "";
  display: inline-block;
  flex-basis: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 8px;
  transform: rotate(-90deg);
  width: 14px;
  background-color: rgb(108, 195, 73);
}


/* Transition definitions */
.nav-link span {
  transition: color 0.2s ease-in-out;
}

.apply-btn {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out !important;
}

.apply-btn::after {
  transition: background-color 0.2s ease-in-out;
}

/* Hover definitions */
.nav-link:hover span {
  color: rgb(108, 195, 73) !important;
}

.apply-btn:hover {
  background-color: #343e40 !important;
  color: #86d562 !important;
}

.apply-btn:hover::after {
  background-color: #86d562 !important;
}


@font-face {
  font-family: "Noto Sans";
  src: url("/SushiCraft/NotoSans.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

.join-btn { display: inline-flex; align-items: center; gap: 12px; justify-content: center; background-color: transparent; border: 2px solid rgb(60, 133, 39); color: rgb(108, 195, 73); cursor: pointer; font-family: var(--sans); font-size: 16px; font-weight: 800; padding: 12px 32px; text-transform: uppercase; text-decoration: none; box-shadow: 0 4px 0 rgba(0, 0, 0, 0.5); transition: background-color 0.2s, color 0.2s, transform 0.1s; }
.join-btn:hover { background-color: #343e40; color: #86d562; }
.join-btn:active { transform: translateY(4px); box-shadow: 0 0px 0 rgba(0, 0, 0, 0.5); }
.join-btn::after {
  clip-path: var(--mc-environment-arrow__down_clip-path);
  content: "";
  display: inline-block;
  flex-basis: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 8px;
  transform: rotate(-90deg);
  width: 14px;
  background-color: rgb(108, 195, 73);
  transition: background-color 0.2s ease-in-out;
}
.join-btn:hover::after {
  background-color: #86d562 !important;
}
